<div id="webtoon-list" class="columns is-multiline">
    {% for webtoon in webtoon_list %}
        {% include "partial/_webtoon.html" %}
    {% endfor %}
</div>

{% if webtoon_list %}
    {% if webtoon_list.has_previous %}
    <a href="?page=1&keyword={{ keyword }}">맨 앞으로</a>
    <a href="?page={{ webtoon_list.previous_page_number }}&keyword={{ keyword }}">이전으로</a>
    {% endif %}

    <span>{{ webtoon_list.number }}</span>
    <span>/</span>
    <span>{{ webtoon_list.paginator.num_pages }}</span>

    {% if webtoon_list.has_next %}
        <a href="?page={{ webtoon_list.next_page_number }}&keyword={{ keyword }}">다음으로</a>
    {% endif %}
    {% if webtoon_list.has_previous %}
        <a href="?page={{ webtoon_list.paginator.num_pages }}&keyword={{ keyword }}">맨 뒤로</a>
    {% endif %}
{% endif %}