<div id="webtoon-list" class="columns is-multiline">
    {% for webtoon in webtoon_list %}
        {% include "partial/_webtoon.html" %}
    {% endfor %}
</div>
<div style="text-align: center; margin-bottom:30px;">
    {% if webtoon_list %}
        {% if webtoon_list.has_previous %}
            <span class="button is-link">
        <a style="all:unset" href="?page=1&keyword={{ keyword }}">맨 앞으로</a>
    </span>
            <span class="button is-link">
        <a style="all:unset" href="?page={{ webtoon_list.previous_page_number }}&keyword={{ keyword }}">이전으로</a></span>

        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ webtoon_list.number }}</span>
        <span>/</span>
        <span>{{ webtoon_list.paginator.num_pages }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if webtoon_list.has_next %}
            <span class="button is-link">
            <a style="all:unset" href="?page={{ webtoon_list.next_page_number }}&keyword={{ keyword }}">다음으로</a>
            </span>
        {% endif %}
        {% if webtoon_list.has_previous %}
            <span class="button is-link">
        <a style="all:unset" href="?page={{ webtoon_list.paginator.num_pages }}&keyword={{ keyword }}">맨
            뒤로</a>
    </span>
        {% endif %}
    {% endif %}
</div>
