{# 유저 정보 하나를 담는 카드 템플릿 #}
{#number|default:"1"#}
<div id="user-{{ person.id }}" name="{{ person.id }}" class="column is-one-third">
    {% with person.profile as profile %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            {% if profile.image %}
                                <img class="is-rounded" src="{{ profile.image.url }}"
                                     alt="Profile image">
                            {% else %}
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png"
                                     alt="Profile image">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            {% if profile.nickname %}
                                {{ profile.nickname }}
                            {% else %}
                                No Nickname
                            {% endif %}
                        </p>
                        <p class="subtitle is-6">{{ person.email }}</p>
                        <span><strong>id : </strong>{{ person.id }}</span><br>
                        <span><strong>연령대 : </strong>{{ profile.age_range }}</span>
                    </div>
                </div>

                <div class="content">
                    {% if person.id != request.user.id %}
                    <button id="btn-{{ person.id }}" name="{{ person.id }}" class="button is-primary">
                        {% if person.id in checkList or isFollowing %}
                            following
                        {% else %}
                            follow
                        {% endif %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endwith %}
</div>