<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <a href="{% url 'home' %}">home</a>
    {% if user.is_authenticated %}
    {{ user.email }}
    <a href="{% url 'accounts:logout' %}">logout</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">login</a>
    <a href="{% url 'accounts:signup' %}">signup</a>
    {% endif %}
    <a href="{% url 'home' %}">kakao login</a>
</nav>
{% block contents %}
{% endblock %}
</body>
</html>